html {
    min-width: 300px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

a {
    color: #6495ed;
}

a:active {
    color: aqua;
}

a:visited {
    color: #00008b;
}

#menu-header {
    background: #87cefa;
    width: 100%;
    height: 100px;
    /*overflow: hidden;*/
    position: fixed;
    top: 0;
    z-index: 5
}

/*nav {*/
/*float: right;*/
/*!*line-height: 95px;*!*/
/*}*/

/*nav > ul {*/
/*list-style-type: none;*/
/*margin: 0;*/
/*padding: 0;*/
/*}*/

/*nav > ul > li {*/
/*display: inline;*/
/*}*/

/*nav > ul > li > a {*/
/*color: #000;*/
/*padding: 8px 16px;*/
/*text-decoration: none;*/
/*}*/

/* Custom menu */
#navbar {
    float: right;
    padding: 10px;
    /*height: 30px;*/
    /*background-color: #666;*/
    /*padding-left: 25px;*/
    /*min-width: 470px;*/
    list-style-type: none;
    z-index: 77777;
}

#navbar ul {
    display: none;
    background-color: rgba(135, 206, 250, 1);
    /*background-color: rgba(135, 206, 250, 0.9);*/
    position: absolute;
    min-width: 192px;
    top: calc(100% - 0px - 2px);
    left: auto;
    right: calc(50% - 90px - 9px);
}

#navbar li:hover ul {
    display: block;
}

#navbar ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;

}

#navbar li a {
    display: block;
    padding: 6px;
    /*width: 100px;*/
    min-width: 50px;
    color: #fff;
    text-decoration: none;
    text-align: center;
}

#navbar ul li {
    float: none;
    padding: 10px;

}

#navbar li:hover {
    /*background-color: #f90;*/
}

#navbar ul li:hover {

    background-color: #639dbc;
}

/* END Custom menu */

.logo {
    float: left;
    padding: 10px;
}

section {
    padding: 10px
}

p {
    margin-bottom: 10px;
    text-align: justify;
    line-height: 25px;
    color: #777;
}

footer {
    padding: 10px 0 10px 0;
    background-color: #639dbc;

}

footer > p {
    text-align: left;
    color: white;
    font-size: 14px;
    margin: 20px;
}

.text-center {
    text-align: center;
}
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}

.footer-fixed {
    padding: 10px 0 10px 0;
    background-color: #639dbc;
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
}

/* Homepage */

#history,
#graduates {
    position: relative;
    background-color: white;
    margin: 120px auto 40px;
    padding: 40px 20px;
    width: 90%;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.28);
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.28);
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.28);
}

.article-header img {
    position: relative;
    display: block;
    margin: auto;
}

.article-header h1 {
    font-size: 26px;
    font-weight: 200;
    margin: 5px auto 7px;
    text-transform: capitalize;
    text-align: center;
}

.photos-wrapper {
    width: 90%;
    overflow-x: scroll;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 40px;
}

.photos {
    min-width: 100%;
    display: flex;
}

.photos figure {
    align-self: center;
}

.photos figure > a > img {
    height: 200px;
    width: auto;
}

/* Registration Page */

#registration {
    min-height: 350px;
    position: relative;
    background-color: #f9f9f9;
    margin: 110px auto 40px;
    padding: 40px 20px;
    width: 90%;
    border: 1px solid #CCCCCC;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    -moz-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.28);
    -webkit-box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.28);
    box-shadow: 3px 3px 3px rgba(50, 50, 50, 0.28);
}

#registration p {
    text-align: center;
}

form {
    margin: 50px auto 10px;
    display: block;
    width: 300px;
    /*color: #777;*/
    color: #639dbc;
    text-transform: uppercase;
    font-size: 11px;
    line-height: 11px;
    /*border-radius: 7px;*/
    /*border: 1px solid #CCCCCC;*/
    border: 1px solid #639dbc;
    padding: 10px;

    position: absolute;
    left: 0;
    right: 0;
}

dialog {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 10px auto;
    border: 1px solid #639dbc;
    padding: 15px;
    width: 290px;
    background: transparent;
    color: #639dbc;
}

