.sh {
    background: yellow;
    height: 30px;
    width: 100%;
    text-align: center;
}

.sf {
    background: #0fdfdf;
    width: 80%;
    margin: auto;
    text-align: center;
}

.main {
    position: relative;
    background: white;
    margin: auto;
    height: 1000px;
    width: 80%;
    margin-top: 10px;
}

.photo {
    position: absolute;
    left: 10px;
    top: 10px;
    background: green;
    width: 240px;
    height: 300px;
}

.table {
    position: absolute;
    left: 260px;
    top: 10px;
    margin-right: 10px;
    width: 745px;
}

.name {
    width: 35%;
}

.discribe {
    width: 65%;
}

.media {
    position: absolute;
    left: 10px;
    top: 400px;
}